<html>
	<head>
		<title>Lista</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/estilo.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 		<script type=text/javascript src="{{url_for('static', filename='js/javascript.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<br>
			<table width="100%" bgcolor="#c82333">
				<tr>
					<td align="center" width="25%">
						<img src="static/imagens/lupa.png" width="30" height="30" alt="REMOVER"></a>
					</td>
					<td align="center" width="25%">
						<input type="text" placeholder="Placa" id="placa" name="placa" onfocus="Apagacampo('componente','defeito')">
					</td>
					<td align="center" width="25%">
						<input type="text" placeholder="Defeito" id="defeito" name="defeito" onfocus="Apagacampo('componente','placa')"> 
					</td>
					<td align="center" width="25%">
						<input type="text" placeholder="Componente" id="componente" name="componente" onfocus="Apagacampo('placa','defeito')">
					</td>
				</tr>
			</table>
			<table width="100%" border="1px" >
				<tr>
					<br>
					<td align="center" width="12%" height="40" bgcolor="#c82333">EQUIPAMENTO</td>		
					<td align="center" width="10%" bgcolor="#c82333">PLACA</td>
					<td align="center" width="12%" bgcolor="#c82333">COMPONENTE</td>
					<td align="center" width="10%" bgcolor="#c82333">POSIÇÃO</td>
					<td align="center" width="50%" bgcolor="#c82333">DEFEITO</td>
					<td align="center" width="6%" bgcolor="#c82333"></td>
				</tr>
				{%for i in range(0,len)%}
					<tr class="infoDefeito">
						<td align="center" class="nomeEquip" height="40">{{placa[i][0]}}</td>
						<td align="center" class="nomePlaca">{{placa[i][1]}}</td>
						<td align="center" class="nomeComp">{{placa[i][2]}}</td>
						<td align="center" class="nomePos">{{placa[i][3]}}</td>
						<td align="center" class="nomeDef">{{placa[i][4]}}</td>
						<td align="center" class="remove">
							<a href="{{url_for('deletar', posicao =placa[i][3], defeito = placa[i][4])}}"><img src="static/imagens/lixo.png" width="30" height="30" alt="REMOVER"></a> 
						</td>
					</tr>
				{%endfor%}
			</table>
			<form action="{{url_for('autenticar')}}" method="">
				<br>
				<br>
				<input class="btn btn-danger btn-lg btn-block" type="submit" value="VOLTAR">
			</form>
		</div>
		<script src="static/js/filtro.js"></script>
	</body>
</html>
